body{
    background-color: black;
    min-height: 100vh;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    position: center;
    border: orange groove;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: xx-large;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: xx-large;
    text-align: center;
}
h1:hover, p:hover,h2:hover {
    color: violet;
  }
  h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
    font-size: xx-large;
    
}

}